{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * bulkassign plugin for Craft CMS 3.x
 *
 * bulkassign index.twig
 *
 * @author    Mr Onazi
 * @copyright Copyright (c) 2020 Mr Onazi
 * @link      kenshomedia.com
 * @package   Bulkassign
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kenshomedia\\bulkassign\\assetbundles\\bulkassign\\BulkassignAsset") %}
{% do view.registerAssetBundle("kenshomedia\\bulkassign\\assetbundles\\bulkassigncpsection\\BulkAssignCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/syflex/bulkassign/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Bulk Assign Blog Authors" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('BulkAssign') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@kenshomedia/bulkassign/assetbundles/bulkassigncpsection/dist', true) ~ '/img/BulkAssign-icon.svg' %}

{# Content that should appear in the page header#}
{# {% set extraPageHeaderHtml %}
	<div class="buttons"> <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('BulkAssign') }}</a>
</div>
{% endset %} #}

{# The content of the CP Section#}
{% set content %}

<h2>
		{{ "Navigation"|t('bulkassign') }}
</h2>
<div class="buttons"> 
	<a href="{{ pluginCpUrl|lower }}" class="submit add icon">{{ "Game List!"|t('BulkAssign') }}</a>&nbsp;&nbsp;
	<a href="{{ 'casino' }}" class="submit add icon">{{ "Casino List!"|t('BulkAssign') }}</a>&nbsp;&nbsp;
	<a href="{{ 'blog' }}" class="submit add icon">{{ "Blog List!"|t('BulkAssign') }}</a>
</div>




<hr>

{% set site = craft.request.getQuery('site') %}
{% set site_name = craft.request.getQuery('site_name') %}

{% set siteID = site ? site : currentSite.id %}
{% set siteName = site_name ? site_name : currentSite.name %}

	
	{% set sites = craft.app.sites.getAllSites() %}

	<h2>Site: {{ siteName }}</h2>
	{% for site in sites %}
		<a href="{{ '?site=' }}{{site.id}}{{'&site_name='}}{{site.name}}" class="submit add icon">
			{{ site.name }}
		</a>&nbsp;&nbsp;	
	{% endfor %}

<hr>


<h2>{{ "BulkAssign Blog Authors Section"|t('bulkassign') }}</h2>

{% set query = craft.request.getQuery('select') %}

	{% if  query is defined and query == 'all' %}
		{% if site %}
			<a href="{{ '?site=' }}{{siteID}}{{'&site_name='}}{{siteName}}" class="submit add icon">{{ "Unselect All" }}</a>&nbsp;&nbsp;
		{% else %}
			<a href="{{ pluginCpUrl|lower }}" class="submit add icon">{{ "Unselect All" }}</a>&nbsp;&nbsp;
		{% endif %}			
	{% else %}
		{% if site %}
			<a href="{{ '?site=' }}{{siteID}}{{'&site_name='}}{{siteName}}{{ '&select=all' }}" class="submit add icon">{{ "Select All" }}</a>&nbsp;&nbsp;
		{% else %}
			<a href="{{ '?select=all' }}" class="submit add icon">{{ "Select All" }}</a>&nbsp;&nbsp;				
		{% endif %}		
	{% endif %}

<hr>

<section>


<div class="container">
  
  	<form method="post" accept-charset="UTF-8"> 
      {{ csrfInput() }}
	<input type="hidden" name="action" value="bulkassign/bulk-assign/do-something">
	<input type="hidden" name="site" value="{{ siteID }}">
		<div class="bulk-section">
			<div class="games-list">
					<h3>Games List</h3>
                    {% set games = craft.entries.section("blog").siteId(siteID).all() %}				
					<div class="games">
                        {% for item in games %}
						<div>
                            {{loop.index}}{{'. '}}
							<input type="checkbox" name="games[]" value="{{ item.id }}" 
								{% if query is defined and query == 'all' %}
									checked
								{% endif %}	
							>
							
                            {{ item.title }} :: <b>{{ item.author }}</b>
						</div>
                        {% endfor %}
					</div>
			</div>

            {% set authors = craft.users() %}
			<div class="author-list">
				<h3>Authors List</h3>	
				<div class="authors">							
					{% for item in authors %}
                        <div>
                            <input type="radio" id="author" name="author" value="{{ item.id }}">
                            {{ item.name }}
                        </div>
                    {% endfor %}
					
					<input name="submit" type="submit" id="submit" class="btn btn-primary" value="Bulk Assign">
				
				</div>

			</div>

		</div>

	</form>

</div>
</section>

{% endset %}
