{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * bulkassign plugin for Craft CMS 3.x
 *
 * bulkassign Settings.twig
 *
 * @author    Mr Onazi
 * @copyright Copyright (c) 2020 Mr Onazi
 * @link      kenshomedia.com
 * @package   Bulkassign
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kenshomedia\\bulkassign\\assetbundles\\bulkassign\\BulkassignAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
