{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * bulkassign plugin for Craft CMS
 *
 * BulkAssign Widget Body
 *
 * @author    Mr Onazi
 * @copyright Copyright (c) 2020 Mr Onazi
 * @link      kenshomedia.com
 * @package   Bulkassign
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@kenshomedia/bulkassign/assetbundles/bulkassignwidget/dist', true) ~ '/img/BulkAssign-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
