{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * bulkassign plugin for Craft CMS
 *
 * BulkAssign Widget Settings
 *
 * @author    Mr Onazi
 * @copyright Copyright (c) 2020 Mr Onazi
 * @link      kenshomedia.com
 * @package   Bulkassign
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kenshomedia\\bulkassign\\assetbundles\\bulkassign\\BulkassignAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
